{% extends "header&footer.html" %}
{% block title %}SCIeL - Perfil{% endblock%}
{% block content %}
    {% block sidebar %}
    {% endblock sidebar %}
    <div class="card-body form-group form-label-group text-center">
      <strong>
        <form method="POST" class="form-signup">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_username" style="color:lightgray !important;">
              Nombre de usuario
            </label>
            {{ user.username }}
          </div>
          <div class="form-group">
            <label for="id_password" style="color:lightgray !important;">
              Nombres
            </label>
            {{ user.first_name }}
          </div>
          <div class="form-group">
            <label for="id_password" style="color:lightgray !important;">
              Apellidos
            </label>
            {{ user.last_name }}
          </div>
          <div class="form-group">
            <label for="id_password" style="color:lightgray !important;">
              Correo Electrónico
            </label>
            {{ user.email }}
          </div>
          <!--<button class="btn btn-lg btn-primary btn-block" href="{% url 'invernaderos:sign-in' %}" name="submit" type="submit">Guardar Cambios</button>-->
        </form>
      </strong>
    </div>
{% endblock content %}
