{% extends "header&footer.html" %}
{% block title %}SCIeL - Perfil{% endblock%}

{% block content %}

          {% block sidebar %}
          {% if user.is_authenticated %}
              <!-- Sidebar -->
              <ul class="sidebar navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'invernaderos:dispositivos' %}">
                    <i class="fas fa-fw fa-cubes"></i>
                    <span>Dispositivos</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'invernaderos:sensores' %}">
                    <i class="fas fa-fw fa-thermometer-quarter"></i>
                    <span>Sensores</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'invernaderos:actuadores' %}">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Actuadores</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'invernaderos:invernaderos' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Invernaderos</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'invernaderos:cultivos' %}">
                    <i class="fas fa-fw fa-leaf"></i>
                    <span>Cultivos</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'invernaderos:parametros' %}">
                    <i class="fas fa-fw fa-cogs"></i>
                    <span>Parámetros Estándar</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'invernaderos:monitorear' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Monitorear</span></a>
                </li>
              </ul>
              {% endif %}
      {% endblock sidebar %}
    <div class="card-body form-group form-label-group text-center">
      <strong>
        <form method="POST" class="form-signup">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_username" style="color:lightgray !important;">
              Nombre de usuario
            </label>
            {{ user.username }}
          </div>
          <div class="form-group">
            <label for="id_password" style="color:lightgray !important;">
              Nombres
            </label>
            {{ user.first_name }}
          </div>
          <div class="form-group">
            <label for="id_password" style="color:lightgray !important;">
              Apellidos
            </label>
            {{ user.last_name }}
          </div>
          <div class="form-group">
            <label for="id_password" style="color:lightgray !important;">
              Correo Electrónico
            </label>
            {{ user.email }}
          </div>
          <!--<button class="btn btn-lg btn-primary btn-block" href="{% url 'invernaderos:sign-in' %}" name="submit" type="submit">Guardar Cambios</button>-->
        </form>
      </strong>
    </div>
{% endblock content %}
