{% extends 'header&footer.html' %}
{% block title %}SCIeL | Gestión de Invernaderos{% endblock title %}
  {% block content %}
    <div id="wrapper">

      {% block sidebar %}
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'invernaderos:invernaderos' %}">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Invernaderos</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'invernaderos:cultivos' %}">
              <i class="fas fa-fw fa-leaf"></i>
              <span>Cultivos</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tables.html">
              <i class="fas fa-fw fa-cogs"></i>
              <span>Parámetros Estándar</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="charts.html">
              <i class="fas fa-fw fa-chart-area"></i>
              <span>Monitorear</span></a>
          </li>
        </ul>
      {% endblock sidebar %}
      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Invernaderos</a>
            </li>
            <li class="breadcrumb-item active">Datos</li>
          </ol>

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Invernaderos</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nombre del Invernadero</th>
                      <th>Ubicacion</th>
                      <th>Operaciones</th>
                    </tr>
                  </thead>
                  <tbody id="bodyTable">
                    {% for invernadero in invernaderos %}
                    {% csrf_token %}
                      <tr id="{{invernadero.id_invernadero}}">
                        
                        <td>{{ invernadero.nombre_invernadero }}</td>
                        <td>{{ invernadero.ubicacion }}</td>
                        <td class="text-center">
                            {% csrf_token %}
                            <a class="fas fa-w fa-eye" name="ver" href="#"  data-toggle="modal" onclick="visualizarInvernadero({{ invernadero.id_invernadero }}, '{{invernadero.nombre_invernadero}}', '\'/ajax/invernadero/\'', '\'GET\'', '\'INVERNADERO\'');" style="color:gray !important"></a>
                            <a class="fas fa-w fa-edit" href="editar" href="#" data-toggle="modal" onclick="editarInvernadero({{ invernadero.id_invernadero }}, '{{invernadero.nombre_invernadero}}', '\'/ajax/invernadero/\'', '\'PUT\'', '\'INVERNADERO\'');" style="color:gray !important"></a>
                            <a class="fas fa-w fa fa-trash" href="eliminar" href="#" data-toggle="modal" onclick="confirmarBorrado({{ invernadero.id_invernadero }}, '{{invernadero.nombre_invernadero}}', '\'/ajax/invernadero/\'', '\'DELETE\'', '\'INVERNADERO\'');" style="color:gray !important"></a>
                        </td>                          
                      </tr>
                    {% endfor %}
                    <script>
                      function operacion(id, nombre, url, type, caso){
                        
                        switch(type){
                          case "GET":
                            header = "Visualizar "+caso+": ";
                            body = null;
                            footer = "<button class='btn btn-secondary' type='button' data-dismiss='modal'>Cerrar</button>"+
                            "<button id='confirmacion' class='btn btn-primary' href='#'>Editar</button>";
                            cargarModal(header, body, footer);
                            ejecutarAJAX(id, nombre, url, type);
                            header = "Editar "+caso+": ";
                            body = $('#detalle').contents();
                            footer = "<button class='btn btn-primary' type='button' data-dismiss='modal'>Cancelar</button>"+
                            "<button id='confirmacion' class='btn btn-danger' href='#'>Guardar</button>";
                            $('#confirmacion').attr('onclick', 'enable()');
                            cargarModal(header, body, footer);
                            
                            break;
                          case "PUT":
                            header = "Editar "+caso+": ";
                            body = null;
                            footer = "<button class='btn btn-primary' type='button' data-dismiss='modal'>Cancelar</button>"+
                            "<button id='confirmacion' class='btn btn-danger' href='#'>Guardar</button>";
                            $('#confirmacion').attr('onclick', 'enable()');
                            cargarModal(header, body, footer);
                            $('#confirmacion').attr('onclick', 'ejecutarAJAX('+id+','+nombre+','+url+','+type+')');
                            break;
                          case "DELETE":
                            header = "Eliminar "+caso+": ";
                            body = "<p>¿Seguro que desea eliminar el "+caso+" <strong>"+nombre+"</strong>?</p>"+
                            "<p>Seleccione 'Continuar' para confirmar la acción</p>";
                            footer = "<button class='btn btn-primary' type='button' data-dismiss='modal'>Cancelar</button>"+
                            "<button id='confirmacion' class='btn btn-danger' href='#'>Continuar</button>";
                            cargarModal(header, body, footer);
                            $('#confirmacion').attr('onclick', 'ejecutarAJAX('+id+','+nombre+','+url+','+type+')');
                            break;
                        };
                      };
                      function cargarModal(header, body, footer){
                        $('#modalHeader').empty();
                        $('#modalHeader').append(
                          "<strong>"+header+nombre+" - "+id+"</strong>"
                        );
                        $('#modalBody').empty();
                        $('#modalBody').append(
                          body
                        );
                        $('#modalFooter').empty();
                        $('#modalFooter').append(
                          footer
                        );
                        $('#detalle').empty();
                      };
                      $(function () {
                        $.ajaxSetup({
                            headers: { "X-CSRFToken": getCookie("csrftoken") }
                        });
                      });

                      function ejecutarAJAX(){
                        ajaxOperacion(
                          id,
                          nombre,
                          url,
                          type
                        ).done(function(respuesta){
                          /*alert(respuesta['message']);
                          $('#visualizarModal').modal('show');
                          $('#detalle').load(
                            respuesta
                          );*/
                        }).fail(function(respuesta){
                          console.log("error");
                        }).always(function(respuesta){
                          console.log("complete");
                        }).success(function(data){
                            $('#visualizarModal').modal('show');
                            $('#detalle').append(
                              data.invernadero
                            )
                            Console.log("SUCCES");
                        });
                      };

                      function ajaxOperacion(id, nombre, url, type){
                        return $.ajax({
                            url: url,
                            type: type,
                            data: {
                              'id': id,
                            },
                            dataType: 'json'
                          });
                      };

                      function borrar(id, nombre, url, type){
                        $('#borrarModalTitulo').empty();
                        $('#borrarModalTitulo').append("Eliminar Invernadero");
                        $('#borrarModal').modal('hide');
                        response = ajaxOperacion(
                          id,
                          nombre,
                          url,
                          type
                          ).done(function() {
                            alert("El invernadero fue borrado exitosamente");
                            $('#'+id).remove();
                          }).fail(function() {
                            console.log("error");
                            alert("El invernadero no pudo ser borrado");
                          }).always(function() {
                            console.log("complete");
                        });  
                      };

                      function confirmarBorrado(id, nombre, url, type){
                        $('#modalBodyBorrar').empty();
                        $('#modalBodyBorrar').append(
                          "<p>¿Seguro que desea eliminar el invernadero <strong>"+nombre+"</strong>?</p>"+
                          "<p>Seleccione 'Continuar' para confirmar la acción</p>"
                        );
                        $('#modalFooterBorrar').empty();
                        $('#modalFooterBorrar').append(
                          "<button class='btn btn-primary' type='button' data-dismiss='modal'>Cancelar</button>"+
                          "<button id='confirmacion' class='btn btn-danger' href='#'>Continuar</button>"
                        );
                        $('#borrarModal').modal('show');
                        $('#confirmacion').attr('onclick', 'borrar('+id+', \''+nombre+'\', '+url+','+type+')');
                      };
                      $(function () {
                        $.ajaxSetup({
                            headers: { "X-CSRFToken": getCookie("csrftoken") }
                        });
                      });
                    </script>
                  </tbody>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    {% block modals %}
        <!-- Logout Modal-->
        <div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="borrarModalTitulo"></h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div id="modalBodyBorrar" class="modal-body">
                    </div>
                    <div id="modalFooterBorrar" class="modal-footer">
                    </div>
                </div> 
            </div>
        </div>
        <div class="modal fade" id="visualizarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title bold" id="visualizarModalTitulo"></h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <form action="" method="POST" id="detalle">
                        {% csrf_token %}
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" type="button" data-dismiss="modal">Cancelar</button>
                     
                    </div>
                </div>
            </div>
        </div>
    {% endblock modals %}
{% endblock content %}
