{% extends 'header&footer.html' %}
{% block title %}SCIeL - Gestión de Actuadores{% endblock title %}

{% block content %}
    

      {% block sidebar %}
      {% if user.is_authenticated %}
              <!-- Sidebar -->
              <ul class="sidebar navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'invernaderos:dispositivos' %}">
                    <i class="fas fa-fw fa-cubes"></i>
                    <span>Dispositivos</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'invernaderos:sensores' %}">
                    <i class="fas fa-fw fa-thermometer-quarter"></i>
                    <span>Sensores</span>
                  </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'invernaderos:actuadores' %}">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Actuadores</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'invernaderos:invernaderos' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Invernaderos</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'invernaderos:cultivos' %}">
                    <i class="fas fa-fw fa-leaf"></i>
                    <span>Cultivos</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'invernaderos:parametros' %}">
                    <i class="fas fa-fw fa-cogs"></i>
                    <span>Parámetros Estándar</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'invernaderos:monitorear' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Monitorear</span></a>
                </li>
              </ul>
              {% endif %}
      {% endblock sidebar %}
      {% block tables %}
      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Actuador</a>
            </li>
            <li class="breadcrumb-item active">Datos</li>
          </ol>

          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Actuador</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead class="text-center">
                    <tr>
                      <th>Nombre del Actuador</th>
                      <th>Dispositivo</th>
                      <th>Invernadero</th>
                      <th>Operaciones</th>
                    </tr>
                  </thead>
                  <tbody id="bodyTable">
                    {% for actuador in actuadores %}
                      
                        <tr id="{{actuador.id_actuador}}">
                          <td>{{ actuador.nombre_actuador }}</td>
                          <td>{{ actuador.id_dispositivo }}</td>
                          <td>{{ actuador.id_invernadero }}</td>
                          <td class="text-center">
                          {% csrf_token %}
                                  <a class="fas fa-w fa-eye" name="ver" href="#"  data-toggle="modal" onclick="operacion({{ actuador.id_actuador }}, '{{actuador.nombre_actuador}}', '/ajax/actuador/', 'GET', 'ACTUADOR');" style="color:gray !important"></a>
                                  <a class="fas fa-w fa-edit" name="editar" href="#" data-toggle="modal" onclick="operacion({{ actuador.id_actuador }}, '{{actuador.nombre_actuador}}', '/ajax/actuador/', 'LOAD', 'ACTUADOR');" style="color:gray !important"></a>
                                  <a class="fas fa-w fa fa-trash" name="eliminar" href="#" data-toggle="modal" onclick="operacion({{ actuador.id_actuador }}, '{{actuador.nombre_actuador}}', '/ajax/actuador/', 'DELETE', 'ACTUADOR');" style="color:gray !important"></a>
                                </td>                          
                              </tr>
                        
                      
                    {% endfor %}
                    
                  </tbody>
                  {% block script %}
                  <script>
                      function operacion(id, nombre, url, type, caso){       
                          console.log("OPERACION: \""+type);
                          switch(type){
                          case 'GET':
                              header = "Visualizar "+caso+": ";
                              body = null;
                              footer = "<button class='btn btn-secondary' type='button' data-dismiss='modal'>Cerrar</button>"+
                              "<button id='confirmacion' class='btn btn-primary' href='#'>Editar</button>";
                              cargarModal(nombre, header, body, footer);
                              ejecutarAJAX(id, url, type);
                              $('#detalleModal').modal('show');
                              header = "Editar "+caso+": ";
                              body = $('#detalle').contents();
                              footer = "<button class='btn btn-primary' type='button' data-dismiss='modal'>Cancelar</button>"+
                              "<button id='confirmacion' class='btn btn-danger' href='#'>Guardar</button>";
                              $('#confirmacion').attr('onclick', 'enable()');
                              $('#detalleModal').modal('hide');
                              cargarModal(nombre, header, body, footer);
                              $('#detalleModal').modal('show');
                              $('#confirmacion').attr('onclick', 'confirmarAccion('+nombre+', '+header+', '+body+', '+footer+')')
                              $('#detalleModal').modal('hide');
                              $('#confirmacion').attr('onclick', 'ejecutarAJAX('+id+','+url+',\'PUT\')');
                              $('#detalleModal').modal('hide');
                              break;
                          case 'LOAD':
                              header = "Guardar "+caso+": ";
                              body = null;
                              footer = "<button class='btn btn-primary' type='button' data-dismiss='modal'>Cancelar</button>"+
                              "<button id='confirmacion' class='btn btn-danger' href='#'>Guardar</button>";
                              enable();
                              cargarModal(nombre, header, body, footer);
                              ejecutarAJAX(id, nombre, url, 'GET');
                              $('#detalleModal').modal('show');
                              $('#confirmacion').attr('onclick', 'confirmarAccion('+nombre+', '+header+', '+body+', '+footer+')')
                              $('#detalleModal').modal('hide');
                              $('#confirmacion').attr('onclick', 'ejecutarAJAX('+id+','+url+',\'PUT\')');
                              $('#detalleModal').modal('hide');
                              break;
                          case 'DELETE':
                              header = "Eliminar "+caso+": ";
                              body = "<p>¿Seguro que desea eliminar el "+caso+" <strong>"+nombre+"</strong>?</p>"+
                              "<p>Seleccione 'Continuar' para confirmar la acción</p>";
                              footer = "<button class='btn btn-primary' type='button' data-dismiss='modal'>Cancelar</button>"+
                              "<button id='confirmacion' class='btn btn-danger' href='#'>Continuar</button>";
                              confirmarAccion(nombre, header, body, footer);
                              $('#confirmacion').attr('onclick', 'ejecutarAJAX('+id+','+url+',\''+type+'\')');
                              break;
                          };
                      };
  
                      function cargarModal(nombre, header, body, footer){
                        console.log('CARGARMODAL: \''+nombre);
                          $('#modalHeader').empty();
                          $('#modalHeader').append(
                          "<strong>"+header+nombre+"</strong>"
                          );
                          $('#modalBody').empty();
                          $('#modalBody').append(
                          body
                          );
                          $('#modalFooter').empty();
                          $('#modalFooter').append(
                          footer
                          );
                          $('#detalle').empty();
                      };
  
                      function confirmarAccion(nombre, header, body, footer){
                          console.log("CONFIRMARACCION: \""+nombre);
                          $('#modalHeader').empty();
                          $('#modalHeader').append(
                          "<strong>"+header+nombre+"</strong>"
                          );
                          $('#modalBody').empty();
                          $('#modalBody').append(
                          body
                          );
                          $('#modalFooter').empty();
                          $('#modalFooter').append(
                          footer
                          );
                          $('#detalleModal').modal('show');
                      };
  
                      function ejecutarAJAX(id, url, type){
                          console.log("EJECUTARAJAX: \""+type);
                          result = ajaxOperacion(id, url, type);
                          switch(type){
                          case 'GET':
                              result.done(function(data){
                                $('#visualizarModal').modal('show');
                                $('#detalle').load(
                                    data.actuador
                                );
                              }).fail(function(data){
                                alert(data.message)
                                console.log("error");
                              }).always(function(){
                                console.log("complete");
                              });
                              break;
                          case 'PUT':
                              result.done(function(data){
                                alert(data.message)
                                $('#detalleModal').modal('hide');
                              }).fail(function(data){
                              alert(data.message)
                                console.log("error");
                                $('#detalleModal').modal('hide')
                              }).always(function(respuesta){
                                console.log("complete");
                              });
                              break;
                          case 'DELETE':
                              result.done(function() {
                                alert("El actuador fue borrado exitosamente");
                                $('#detalleModal').modal('hide');
                                $('#'+id).remove();
                              }).fail(function() {
                                console.log("error");
                                alert("El actuador no pudo ser borrado");
                                $('#detalleModal').modal('hide');
                              }).always(function() {
                                console.log("complete");
                              });
                              break;
                          }
  
                      };
  
                      function ajaxOperacion(id, url, type){
                        console.log("AJAX: \""+type);
                          return $.ajax({
                              url: url,
                              type: type,
                              data: {
                              'id': id,
                              },
                              success: function(){
                                console.log("SUCCES");
                              },
                              dataType: 'json'
                          });
                      };
                      $(function () {
                          $.ajaxSetup({
                              headers: { "X-CSRFToken": getCookie("csrftoken") }
                          });
                      });
                  
                  </script>
            {% endblock script %}
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- /.content-wrapper -->

    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    {% endblock tables %}
    {% block modals %}
            <!--VIEW, EDIT & DELETE MODAL-->
            <div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title bold" id="modalHeader"></h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div id="modalBody" class="modal-body">
                          <form action="" method="POST" id="detalle">
                            {% csrf_token %}
                          </form>
                        </div>
                        <div id="modalFooter" class="modal-footer">
                        </div>
                    </div> 
                </div>
            </div>
            <!--LOGOUT MODAL-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¿Seguro que quieres cerrar la sesión?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual</div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <a class="btn btn-primary" href="{% url 'invernaderos:sign-out' %}">Cerrar Sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock modals %}
    
{% endblock content %}
