{% extends 'header&footer.html' %}
{% block title %}SCIeL | Gestión de Cultivos{% endblock title %}

{% block content %}
  
      <div id="wrapper">
        {% block sidebar %}
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'invernaderos:sign-in' %}">
              <!--<i class="fas fa-fw fa-tachometer-alt"></i>-->
              <span>Monitoreo</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'invernaderos:sign-in' %}">
              <!--<i class="fas fa-fw fa-chart-area"></i>-->
              <span>Invernaderos</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'invernaderos:cultivos' %}">
              <!--<i class="fas fa-fw fa-table"></i>-->
              <span>Cultivos</span></a>
          </li>
        </ul>
        {% endblock sidebar %}

        <div id="content-wrapper">

          <div class="container-fluid">

            <!-- Breadcrumbs-->
            <!--<ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Tables</li>
            </ol>-->

            <!-- DataTables Example -->
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-table"></i>
                INFORMACIÓN DE CULTIVOS</div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr class="text-center">
                        <th>ID</th>
                        <th>Nombre de Cultivo</th>
                        <th>Período de Cosecha</th>
                        <th>Número de Etapas</th>
                        <th>Temperatura</th>
                        <th>Humedad</th>
                        <th>Humedad Relativa</th>
                        <th>Intensidad de Luz</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
            <button class="btn btn-lg btn-primary btn-lg" style="width:200px; height:50px" href="#ventanaCultivo" data-toggle="modal">Agregar Cultivo
            </button>
            <div class="modal fade" id="ventanaCultivo">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!--Header ventana-->
                  <div class="modal-header">
                    <div class ="modal-title"><b>INFORMACIÓN DEL CULTIVO</b></div>
                  </div>
                  <!--Body ventana-->
                  <div class="modal-body">
                    <label for="nombre">Nombre:</label>
                    <input class="form-control" id="nombre" type="text" placeholder="Ingrese el nombre del cultivo">
                    <label for="periodoCosecha">Período de Cosecha:</label>
                    <input class="form-control" id="periodoCosecha" type="text" placeholder="Ingrese el período de cosecha en días">
                    <label for="numeroEtapas">Número de Etapas:</label>
                    <input class="form-control" id="numeroEtapas" type="text" placeholder="Ingrese número de etapas del cultivo">
                    <label for="temperaturaBase">Temperatura(°C):</label>
                    <input class="form-control" id="temperaturaBase" type="text" placeholder="Ingrese la temperatura estándar">
                    <label for="humBase">Humedad(%):</label>
                    <input class="form-control" id="humBase" type="text" placeholder="Ingrese la humedad estándar">
                    <label for="humRelBase">Humedad Relativa(%):</label>
                    <input class="form-control" id="humRelBase" type="text" placeholder="Ingrese la humedad relativa estándar">
                    <label for="intLuzBase">Intensidad de Luz(candela:cd):</label>
                    <input class="form-control" id="intLuzBase" type="text" placeholder="Ingrese la intensidad de luz estándar">

                  </div>
                  <!--Footer ventana-->
                  <div class="modal-footer">             
                    <button type="button" class="btn btn-primary" href="{% url 'invernaderos:cultivos' %}">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
            <!--<p class="small text-center text-muted my-5">
              <em>More table examples coming soon...</em>
            </p>-->

          </div>
          <!-- /.container-fluid -->

          <!-- Sticky Footer -->
          <footer class="sticky-footer">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright © SCIeL 2018 | Sistema para el Control de Invernaderos en Línea</span>
              </div>
            </div>
          </footer>

        </div>
        <!-- /.content-wrapper -->

      </div>
      <!-- /#wrapper -->

      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">¿Seguro que quieres cerrar la sesión?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual</div>
            <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" href="login.html">Cerrar Sesión</a>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

