{% extends "header&footer.html" %}
{% block title %}SCIeL | Iniciar Sesión{% endblock %}
{% block content %}
  {% load static from staticfiles  %}
  <header class="py-2 mx-auto" style="background-image: url('/static/media/image/CE - UES 2.JPG');">
    <div class="card card-login mx-auto bg-dark">
      <h3 class="card-header text-center h5" style="color:whitesmoke !important;">
          <img class="img-fluid d-block mx-auto mb-4" src="{% static 'media/image/logo.png' %}" alt="" width="250" height="250" style="padding-top: 0.5rem; padding-bottom: 0.3rem;">
          Sistema para el Control de Invernaderos en Línea - SCIeL
      </h3>
      <div class="card-body form-group form-label-group text-center">
        <strong>
          {% if mensaje is None %}
          <script>
              $(document).ready(function()
              {
                 $("#mesageModal").modal("show");
              });
           </script>
          {% endif%}
        <form method="POST" class="form-signup">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_username" style="color:lightgray !important;">
                Nombre de usuario
            </label>
            {{ form.username }}
          </div>
          <div class="form-group">
            <label for="id_password" style="color:lightgray !important;">
                Contraseña
            </label>
            {{ form.password }}
          </div>
          <button class="btn btn-lg btn-primary btn-block" href="{% url 'invernaderos:sign-in' %}" name="submit" type="submit">Iniciar Sesión</button>
        </form>
      </strong>
      </div>
    </div>      
  </header>
  <div class="modal fade" id="mesageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ mensaje }}</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body danger-alert">Presione continuar para volverlo a intentar</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" href="{% url 'invernaderos:sign-out' %}">Continuar</a>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}